*{
    margin: 0;
    padding: 0;
}

.card{
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
     margin: 3% 2%;
     gap: 50px;
}
.category{
    display: flex;
    flex-direction: column;
   
    flex-direction: row;
    

}
.reviews{
    flex-direction: row;
   width: 40px;
    
}
.greenColor{
    background-color: green;
    color: white;
    width: 30px;

}

